.section {
    padding-bottom: 60px;
    padding-top: 60px;

    &__title {
        margin-bottom: 30px;
        color: $color-text-title;
        font-size: 28px;
        line-height: 1.178;
        letter-spacing: 0.03em;
        text-align: center;

        @include desktop {
            font-size: 36px;
            line-height: 1.167;
        }
    }
}